[submodule "submodules/vke"]
	path = submodules/vke_core
	url = https://github.com/SarpAkin/vulkan_engine2_core
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
